<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--配置包扫描-->
    <context:component-scan base-package="com.itheima.controller"/>
    <!--配置注解驱动包括处理器和适配器映射器-->
    <mvc:annotation-driven/>
    <!--配置视图解析器-->
    <!--<p>Example: prefix="/WEB-INF/jsp/", suffix=".jsp", viewname="test" ->-->
    <!--* "/WEB-INF/jsp/test.jsp"-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--配置后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1000000"/>
    </bean>
    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--所有得请求都进入拦截器-->
            <mvc:mapping path="/**"/>
            <!--配置具体得拦截器-->
            <bean class="com.itheima.handlerInterceptor.HandlerInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:interceptors>
        <mvc:interceptor>
            <!--所有请求都进入拦截-->
            <mvc:mapping path="/**"/>
            <!--配置具体得拦截器-->
            <bean class="com.itheima.handlerInterceptor.HandlerInterceptor2"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>

